body {
    margin: 0;
    padding: 40px;
    font-family: sans-serif;
    background: #7c7c7c;
  }
  

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    
    grid-template-areas: 
      "logo"
      "menu"
      "hero"
      "karta1"
      "karta2"
      "karta3"
      "sidebar"
      "footer";
  }
  
.box {
    padding: 40px;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
.box1 { grid-area: logo; background: gold; }
.box2 { grid-area: menu; background: rgb(0, 130, 173); }
.box3 { grid-area: hero; background: rgb(248, 63, 63); min-height: 180px; }
.box4 { grid-area: karta1; background: rgb(0, 224, 0); }
.box5 { grid-area: karta2; background: rgb(6, 240, 6); }
.box6 { grid-area: karta3; background: rgb(8, 236, 8); }
.box7 { grid-area: sidebar; background: rgb(196, 0, 196); }
.box8 { grid-area: footer; background: rgb(199, 199, 199); }
  
 
@media (min-width: 900px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      grid-template-areas: 
        "logo menu menu menu"
        "hero hero hero sidebar"
        "karta1 karta2 karta3 sidebar"
        "footer footer footer footer";
    }
  }