body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    background: #fafafa;
  }
  

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    
    grid-template-areas: 
      "logo"
      "menu"
      "hero"
      "karta1"
      "karta2"
      "karta3"
      "sidebar"
      "footer";
  }
  
.box {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
.box1 { grid-area: logo; background: gold; }
.box2 { grid-area: menu; background: rgb(131, 213, 240); }
.box3 { grid-area: hero; background: rgb(248, 63, 63); min-height: 180px; }
.box4 { grid-area: karta1; background: rgb(55, 145, 55); }
.box5 { grid-area: karta2; background: rgb(51, 131, 51); }
.box6 { grid-area: karta3; background: rgb(39, 116, 39); }
.box7 { grid-area: sidebar; background: rgb(218, 89, 218); }
.box8 { grid-area: footer; background: rgb(129, 129, 129); }
  
 
@media (min-width: 900px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      grid-template-areas: 
        "logo menu menu menu"
        "hero hero hero sidebar"
        "karta1 karta2 karta3 sidebar"
        "footer footer footer footer";
    }
  }